<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058429905987-8gpje0d6nsbh02e7301akfhe1lv15kgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058429905987-8gpje0d6nsbh02e7301akfhe1lv15kgp</string>
	<key>API_KEY</key>
	<string>AIzaSyDvm-tJpgbsFUJWg6DfmN9OiWUIWISZReI</string>
	<key>GCM_SENDER_ID</key>
	<string>1058429905987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>woin2ee.SocialLoginExample</string>
	<key>PROJECT_ID</key>
	<string>socialloginexample-f805a</string>
	<key>STORAGE_BUCKET</key>
	<string>socialloginexample-f805a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058429905987:ios:acaddf93717152203b38f6</string>
</dict>
</plist>